<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
				<nav id="nav">

          {% include nav.html %}

				</nav>

				<!-- Main -->
				<main id="main">

					{% comment %}
          <article class="post featured">
            <header class="major">
              <h1><a href="#">Importance of Blogs</a></h1>
              <p>Blogs are really pretty awesome things. For one, they are a means to continually provide fresh,
                dynamic content to your users. Also, they help your site get indexed and build authority as they are essential for SEO!
							</p>
            </header>
						<p>
							Content fulfills the general population seeing your website and it likewise fulfills web indexes! Having solid content
							influences your advertising to work a hell of a great deal simpler. Along these lines, the greatest bit of the promoting riddle is there. It's vital to thoroughly consider this technique before starting another crusade. This makes the whole content and advertising process more streamlined and will in the end enable your message to achieve your clients in a more effective manner. You ought not think little of the significance of giving yourself room. Having squirm room takes into consideration steady changes to your methodology en route.
						<p>
						</p>
							At that point, rather than pushing something superfluous to your users, you can give them something that will stick.
							You'll give them something they can identify with and be slanted to share with their companions and associates. Perhaps they'll even be slanted to work with you later on!
							Having an advancement technique that is excessively unbending isn't astute on the grounds that there is no space for solid spontaneous creation. Having the capacity to change your advertising procedure will prompt more deals and arrangements.
						</p>

          </article>
					{% endcomment %}

					<!-- Post -->
					<div class="posts">
						{% for post in paginator.posts %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
						{% endfor %}

					</div>

					{% if paginator.total_pages > 1 %}
						<footer>
							<div class="pagination">
								{%- assign back_2 = paginator.page | minus: 2 -%}
								{%- assign back_1 = paginator.page | minus: 1 -%}
								{%- assign ahead_1 = paginator.page | plus: 1 -%}
								{%- assign ahead_2 = paginator.page | plus: 2 -%}
								{% assign final_ellipsis_max = paginator.total_pages | minus: 3 %}

								{%- if paginator.previous_page -%}
									<a href="{{paginator.previous_page_path | absolute_url}}" class="previous">Newer</a>
								{%- endif -%}

								{%- unless paginator.page == 1 -%}
									<a href="{{site.paginate_path | replace: ':num', 1 | absolute_url}}" class="page">1</a>
								{%- endunless -%}

								{%- if paginator.page > 4 -%}
									<span class="extra">...</span>
								{%- endif -%}

								{%- if back_2 > 1 -%}
									<a href="{{site.paginate_path | replace: ':num', back_2 | absolute_url}}" class="page">{{back_2}}</a>
								{%- endif -%}

								{%- if back_1 > 1 -%}
									<a href="{{site.paginate_path | replace: ':num', back_1 | absolute_url}}" class="page">{{back_1}}</a>
								{%- endif -%}

								<a href="{{site.paginate_path | replace: ':num', paginator.page | absolute_url}}" class="page active">{{paginator.page}}</a>

								{%- if ahead_1 < paginator.total_pages -%}
									<a href="{{site.paginate_path | replace: ':num', ahead_1 | absolute_url}}" class="page">{{ahead_1}}</a>
								{%- endif -%}

								{%- if ahead_2 < paginator.total_pages -%}
									<a href="{{site.paginate_path | replace: ':num', ahead_2 | absolute_url}}" class="page">{{ahead_2}}</a>
								{%- endif -%}

								{%- if paginator.page < final_ellipsis_max -%}
									<span class="extra">...</span>
								{%- endif -%}

								{%- unless paginator.page == paginator.total_pages -%}
									<a href="{{site.paginate_path | replace: ':num', paginator.total_pages | absolute_url}}" class="page">{{paginator.total_pages}}</a>
								{%- endunless -%}

								{%- if paginator.next_page -%}
									<a href="{{paginator.next_page_path | absolute_url}}" class="next">Older</a>
								{%- endif -%}
							</div>
						</footer>
					{% endif %}

				</main>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
